/*
You can add your own custom styles here.
*/

@media only screen and (min-width: 768px) {
    * {
        --left-sidebar-max-width: 100%;
        --right-sidebar-max-width: 100%;
        --menu-icon-separation: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 110px auto;
    }

    .sidebar.left-sidebar.sticky {
        order: 1;
        position: unset;
        display: grid;
        grid-template-columns: 110px auto 100px;
        grid-template-areas: "headerLogo navBarMenu socialMedia";
        height: fit-content;
        padding: 0;
        align-items: center;

        button.hamburger {
            display: none;
        }

        header {
            grid-area: headerLogo;

            .site-meta {
                display: none;
            }
        }

        ol.menu-social {
            grid-area: socialMedia;
        }

        ol#main-menu {
            flex-direction: row;
            align-items: baseline;

            .menu-bottom-section {
                margin: 0;
                width: 100%;
                flex: 1;

                .menu {
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }

            li {
                width: fit-content;
            }
        }
    }

    .sidebar.right-sidebar.sticky {
        order: 2;
        position: unset;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "site-meta site-meta site-meta site-meta"
            "language language categories categories"
            "tags tags tags tags";
        padding: 0;
        row-gap: 20px;

        .search-form {
            grid-area: search;
        }

        .archives {
            grid-area: archives;
        }

        .tagCloud,
        .archives {
            display: grid;
            grid-template-columns: 34px auto;
            grid-template-rows: 40px auto;
            grid-template-areas:
                "widgetIcon widgetTitle"
                "widgetContent widgetContent";

            .widget-icon {
                grid-area: widgetIcon;
            }

            .widget-title {
                grid-area: widgetTitle;
                margin: 0;
                line-height: 32px;
            }

            .tagCloud-tags,
            .widget-archive--list {
                grid-area: widgetContent;

                a {
                    height: fit-content;
                }
            }
        }

        .site-meta:nth-child(1) {
            grid-area: site-meta;
        }

        .widget.tagCloud:nth-child(2) {
            grid-area: language;
        }

        .widget.tagCloud:nth-child(3) {
            grid-area: categories;
        }

        .widget.tagCloud:nth-child(4) {
            grid-area: tags;
        }
    }

    main.main {
        order: 3;
        padding: 0;
    }

    .article-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Site info in the widgets */

.site-meta {
    padding-bottom: 20px;
}

.sidebar header .site-avatar .site-logo {
    width: 90%;
    height: 90%;
    box-shadow: none;
}

[data-scheme="dark"] {
    .site-avatar a img {
        text-decoration: none;
        filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
    }
}

.site-name {
    color: var(--accent-color);
    margin: 0 0 6px 0;
    font-size: 2rem;
}

.site-description {
    color: var(--body-text-color);
    font-weight: 400;
    margin: 0;
    font-size: 1.6rem;
}